.box-colors {
    display: flex;
    flex-direction: row;
}
.box-style {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 20px;
    justify-content: center;
    align-items: center;

}
span {
    color: black;
    font-size: 1.6em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-1 {

    background-color: yellow;
   
}
.box-2 {
    background-color: blue;
   
}
.box-3 {
    background-color: red;
    
}
.box-4 {
    background-color: rgb(127, 255, 212);
   
}
.box-5 {
    background-color: rgb(0, 255, 0);
   
}
.box-6 {
    background-color: rgb(255, 0, 255);
}
.box-7 {
    background-color: #ffd700;

}
.box-8 {
    background-color: #ffa500;
    
}
.box-9 {
    background-color: #a0522d;
    
}