*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    height: 95px;
    background-color: yellow;
} */
.page-box-slider{
    width: 100%;
    overflow: hidden;
}
.box-slider{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    transition: all 1200ms;
}
.box-slider-1{
    left: 0;
}
.box-slider-2 {
    left: -100%;
}
.box-slider-3{
    left: -200%;
}
.box-slider-4{
    left: -300%;
}
.icon-chevron-left, .icon-chevron-right{
    color: black;
    font-size: 2.5em;
    position: relative;
    top: calc((-100vh) + 500px);
    z-index: 20;
    padding: 0 50px;
}

.box-icon-chevron-right{
    display: flex;
    justify-content: flex-end;
    top: calc((-100vh) + 450px);
}
.icon-chevron-right, .icon-chevron-left {
    cursor: pointer;
}
.img-slider{
    width: 100%;
}
.box-box-signal{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    z-index: 150;
}
.box-signal{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
}
.signal{
    width: 120px;
    height: 20px;
    background-color: red;
    padding: 0 25px;
}
